<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watch 1v1 Car Race Game</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div id="game-area">
        <div id="finish-text">FINISH</div>
        <div id="start-text">START</div>
        <div id="car1" class="car"></div>
        <div id="car2" class="car"></div>
        <div id="game-info"></div>
    </div>

    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
    <script src="/static/watch.js"></script>
</body>
</html>